In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,10,11,12],[4,56,8,9],[1,2,4,5], [5,767,8,9],[1,2,3,9]], columns=['A1','B1','C1','D1'])

In [3]:
df.head()

   A1  B1  C1  D1
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3   4  56   8   9
4   1   2   4   5

In [5]:
df.to_csv("export.csv", index = False)