In [1]:
print("H")

H

In [4]:
import pandas as pd
import numpy as np

In [8]:
pd.DataFrame(np.array([[2,5,7,7],[4,6,89,9], [5,5,7,9], [3,5,79,9]]), columns=['A', 'B', 'C', 'D'], index = ['A', 'B', 'C', 'D'])

   A  B   C  D
A  2  5   7  7
B  4  6  89  9
C  5  5   7  9
D  3  5  79  9